---

---

<header class="container py-2 flex justify-between items-center">
  <a href="/">
    <img
      src="/img/logo/logo_2-1_transparente.png"
      alt="Gallinas Libres"
      class="h-16"
    />
  </a>
  <nav class="space-x-4">
    <a href="#nosotros" class="hover:underline">Nosotros</a>
    <a href="#contacto" class="hover:underline">Contacto</a>
  </nav>
</header>
